body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

/* navbar section start */
.navbar-b {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(206, 187, 187, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
    color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
    width: 35px;
}

.navbar-b.navbar-trans .show>.nav-link:before,
.navbar-b.navbar-trans .active>.nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show>.nav-link:before,
.navbar-b.navbar-reduce .active>.nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
    width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
    background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
    color: #fff;
}

.navbar-b.navbar-trans .show>.nav-link,
.navbar-b.navbar-trans .active>.nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
    color: #fff;
}

.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #ffd700;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
    color: #fff;
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: #ffd700;
}

.navbar-b.navbar-reduce .nav-link:hover {
    color: #fff;
}

.navbar-b.navbar-reduce .show>.nav-link,
.navbar-b.navbar-reduce .active>.nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
    color: #fff;
}

.navbar-b.navbar-reduce .navbar-brand {
    color: #fff;
}

.navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #fff;
}

.navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
}

.navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #ffd700;
    color: #fff;
    transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #ffd700;
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler {
    position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.colored-bk-01 {
    background: #1d1d1d;
}

.colored-bk-02 {
    background: #ffd700;
}

/* navbar section end */

/* slider section start */
.hero {
    background-image: linear-gradient(rgba(20, 20, 20, 0.863), rgba(0, 0, 0, 0.925)), url("../img/darkEagle.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
}

.slider_section {
    padding-top: 10%;
    padding-left: 7%;
    height: calc(100% - 80px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .detail-box {
    color: #ffffff;
    margin-left: 11%;
}

.slider_section .detail-box h1 {
    text-transform: uppercase;
}

.slider_section .detail-box h1 span {
    color: #ffd700;
}

.slider_section .detail-box p {
    margin-top: 15px;
}

.slider_section .detail-box .btn-box {
    margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #ffd700;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 5px;
}

.slider_section .detail-box .btn-box a:hover {
    background-color: transparent;
    border-color: #ffd700;
    color: #ffd700;
    text-decoration: none;
}

.slider_section #carouselExampleIndicators {
    width: 100%;
}

.slider_section .carousel-indicators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #ffffff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: initial;
    width: 25px;
    height: 100%;
    margin: 0;
    bottom: 50%;
    right: 45px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.slider_section .carousel-indicators::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 55%;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider_section .carousel-indicators span {
    margin: 0 2px;
}

.slider_section .carousel-indicators li {
    text-indent: unset;
    margin: 0;
    border: none;
    opacity: 1;
    background-color: transparent;
    width: auto;
    height: auto;
}

.slider_section .carousel-indicators li.active {
    color: #ffd700;
}

.slider_section .custom_carousel-control {
    position: absolute;
    top: 50%;
    left: 25px;
    width: 105px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
    margin: 10px 0;
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
    background-color: #e8e8e8;
    border-radius: 100%;
}

.slider_section .custom_carousel-control .carousel-control-prev:hover,
.slider_section .custom_carousel-control .carousel-control-next:hover {
    background-color: #ffd700;
}

/* slider section end */

/* about section start */

#about {
    margin: 5% auto;
    width: 90%;
    padding: 1% 5%;
    text-align: center;
    background-color: whitesmoke;
    display: flex;
    gap: 7%;
}

#about .img-container {
    flex: 40%;
}

#about .img-container img {
    width: 100%;
}

#about .details {
    width: 70%;
}

#about .fa,
#objectives .fa,
#join .fa {
    font-size: 87px;
    color: #ffd700;
}

#about p {
    text-align: justify;
    text-indent: 37px;
}

/* about section end */

#about, #objectives, #join {
    padding-top: 30px;
}

/* Objectives section start */

#objectives {
    width: 90%;
    margin: 5% auto 0% auto;
    display: flex;
    gap: 3%;
    height: max-content;
}

#objectives .img-container {
    margin: 3% 0% 0% 0%;
}

#objectives .details-container {
    text-align: center;
}

#objectives .details-container ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
}

#objectives .details-container ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    text-indent: 17px;
}

#objectives .details-container ul li span {
    font-weight: bold;
}

#objectives .details-container ul li .fa {
    font-size: 29px;
}

/* Objectives section end */

/* join section start */

#join {
    margin: 3% auto;
    width: 90%;
    display: flex;
    height: max-content;
}

#join .img-container {
    flex: 40%;
    margin: 25% 0% 0% 0%;
}

#join .img-container img {
    width: 100%;
}

#join .details-container {
    width: 60%;
    height: max-content;
}

#join .details-container .ttl{
    margin: 0 13%;
}

#join .details-container .fa {
    margin: 0 23%;
}

.box-container {
    width: 80%;
}

.box-container .box {
    max-width: 300px;
    padding: 10px 20px;
    margin: 60px 10px;
    border: 2px solid #ffd700;
    position: relative;
    border-radius: 10px;
}

.box-container .box:nth-child(odd) {
    margin-left: auto;
}

.box-container .box h2 {
    font-size: 23px;
    letter-spacing: 4px;
    padding: 10px 0;
    color: #ffd700;
    font-weight: bold;
}

.box-container .box p {
    font-size: 15px;
    padding-bottom: 15px;
}

.box-container .box .step {
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffd700;
    background-color: whitesmoke;
    font-size: 23px;
    padding: 0 15px;
}

/* join section end */

/* leader word */

#leaderWords {
    margin: 7% auto;
    width: 60%;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
    padding: 17px;
}

#leaderWords h2 {
    text-align: center;
}

blockquote {
    font-style: italic;
    margin: 20px 0;
    padding-left: 20px;
    border-left: 4px solid #ccc;
    color: #333;
    font-family: 'Georgia';
}

/* leader word */

/* footer section start */
footer {
    background-color: #ffd700;
    padding: 3%;
    color: white;
    text-align: center;
    font-size: 19px;
}
/* footer section end */


/* responsive design start */

@media (max-width: 1000px) {
    .hero {
        height: auto;
    }

    .slider_section {
        padding-top: 30%;
        padding-bottom: 75px;
    }

    .slider_section {
        background-size: cover;
        background-position: left;
    }

    .slider_section .carousel-indicators {

        height: 100%;
    }

}

@media (max-width: 768px) {

    .slider_section {
        padding-left: 0;
    }

    .slider_section .detail-box {
        text-align: center;
    }

    .slider_section .carousel-indicators {
        display: none;
    }

    .slider_section .custom_carousel-control {
        display: none;
    }

    #about,
    #join {
        flex-direction: column;
    }

    #objectives {
        flex-direction: column-reverse;
    }

    #about .details,
    #join .details-container  {
        width: 100%;
    }

    #join .details-container .ttl,
    #join .details-container .fa {
        margin: 0;
    }

    #join .details-container {
        text-align: center;
    }

    #join .details-container .box-container {
        text-align: justify;
        width: 100%;
    }

    #objectives .img-container,
    #join .img-container {
        margin: 0 auto;
        width: 90%;
    }

    #leaderWords {
        width: 80%;
    }

    #objectives .img-container img {
        width: 100%;
    }

}

/* responsive design end */